<section>
	<h2 id="quest_ce_que">Qu’est ce que la BOEW?</h2>
	<p>Une bibliothèque de code pour construire des sites Web:<br/>
	<strong>Accessible</strong>,<br/>
	<strong>Facile d’emploi</strong>,<br/>
	<strong>Interopérable</strong> et;<br/>
	<strong>Optimisés pour les appareils mobiles</strong>.</p>

	<p>Cette Boîte à outils est également:<br/>
	<strong>Personnalisable</strong>,<br/>
	<strong>Modulaire</strong> et;<br/>
	<strong>Indédendente des plateformes</strong>.</p>
</section>