<section>
	<h2 id="a11y">Accessible</h2>
	<object id="wcag" type="image/svg+xml" role="img" data="assets/wcag2AA-blue-v.svg" aria-label="Conformité aux Règles pour l’accessibilité des contenus Web (WCAG) 2.0 niveau AA"></object>
	<p>Conformité aux Règles pour l’accessibilité des contenus Web niveau AA minimum.</p>
	<p>Utilise une approche base sur l’amélioration progressive qui assure un niveau minimum de fonctionalité.</p>
	<p>Utilise le <abbr title="Web Accessibility Initiative - Accessible Rich Internet Applications">WAI-ARIA</abbr> pour rehausser l’expérience utilisateur.</p>
	<p>Les composantes sont testées régulièrement par des utilisateurs.</p>
</section>