<section>
	<h2 id="facileemploi">Facile d’emploi</h2>
	<p>S’appuie sur des essais avec des utilisateurs.</p>
	<p>Utilise des évaluations heuristiques au besoin.</p>
	<p>Utilise une méthode de dévelopment agile afin de contiuellement améliorer les composantes.</p>
</section>