<section>
	<h2 id="optimise_mobile">Optimisée pour les appareils mobiles</h2>
	<img src="assets/mobile.jpg" alt="Capture d’écran de la vue pour petits et moyens écrans de la Boîte à outils"/>
	<img src="assets/desktop.jpg" alt="Capture d’écran de la vue pour grands écrans de la Boîte à outils"/>
	<p>Basée sur la la conception Web réactive.</p>
	<p>Adapte le contenu et l’interface selon le mode d’accès utilisé.</p>
	<p>Optimisée pour un chargement rapide et une faible consommation de données.</p>
</section>