<section>
	<h2 id="optmobile">Présentation personalisable</h2>
	<img src="assets/themes.jpg" alt="Capture d’écran de plusieurs thème basé sur la Boîte à outils"/>
	<p>Permet la création de thèmes afin de personalliser l’interface.</p>
</section>