<section>
	<h2 id="optmobile">Présentation personnalisable</h2>
	<img src="assets/themes.jpg" alt="Capture d’écran de plusieurs thèmes basés sur la Boîte à outils"/>
	<p>Permet la création de thèmes afin de personnaliser l’interface.</p>
</section>