<section>
	<h2 id="quoi_de_neuf">Quoi de neuf dans la BOEW version 4?</h2>
	<p>Conception pour les appareils mobile d’abord</p>
	<p>Au revoir jQuery Mobile, bienvenu Twitter Bootstrap</p>
	<p>Nouvelle architecture optimisée</p>
</section>