<section>
	<h2 id="bienvenue_bootstrap">Au revoir jQuery Mobile, bienvenue Bootstrap</h2>
	<svg>
		<use xlink:href="#bootstrap"/>
	</svg>
	<p>Boostrap est plus leger et plus performant puisqu'il utilise CSS3 de façon plus optimale</p>
	<p>Ne vise pas uniquement les appareils mobiles</p>
	<p>Une grand nombre de designers sont déjà familier à Bootstrap</p>
	<p>Nouveau système de grilles plus simple et plus flexible (basé sur les pourcentages)</p>
</section>