<section>
	<h2 id="nouvelle_architecture">Nouvelle architecture optimisée</h2>
	<p>Adoption l'approche de la programmation Javascript axée sur les évenements.</p>
	<p>Réusinage complet du code JavaScript pour des composantes plus performants et réactifs.</p>
	<p>Adoption de convention de codage plus strict et de test automatiséss</p>
</section>