<section>
	<h2 id="nouvelle_architecture">Nouvelle architecture optimisée</h2>
	<p>Adoption l’approche de la programmation Javascript axée sur les évènements.</p>
	<p>Réusinage complet du code JavaScript pour des composantes plus performantes et réactives.</p>
	<p>Adoption de conventions de codage plus strictes et des tests automatisés.</p>
</section>