<section>
	<h2 id="contact">Contactez-nous</h2>
	<svg role="img" aria-label="Boîte à outils de l’expérience Web">
		<use xlink:href="#wet"/>
	</svg>
	<p>Twitter: <a href="https://twitter.com/BoiteExpWeb">@BoiteExpWeb</a> ou <a href="https://twitter.com/search?q=%23boew&src=typd">#boew</a></p>
	<p>GitHub: <a href="https://github.com/wet-boew/wet-boew">https://github.com/wet-boew/wet-boew</a></p>
</section>