<section>
	<h2>Optimisé pour les appareils mobiles</h2>
	<p>Basé sur la la conception Web réactive</p>
	<p>Adapte le contenu et l’interface selon le mode d'accès utilisé</p>
	<p>Optimisé pour un chargement rapide et une faible consommation de données</p>
</section>