<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>La Boîte à outils de l’expérience Web</title>
		<link rel="stylesheet" href="{{assets}}/reveal.js/css/reveal.min.css">
		<link rel="stylesheet" href="css/styles.min.css">
	</head>
	<body>
		<h1>La Boîte à outils de l’expérience Web</h1>
		<div class="reveal">
			<div class="slides">
				{{>01_intro}}
				{{>02_quest_ce_que}}
				{{>03_accessible}}
				{{>04_facile_emploi}}
				{{>05_interoperable}}
				{{>06_optimise_mobile}}
				{{>07_presentation_personalisable}}
				{{>08_modulaire}}
				{{>09_independante_plateforme}}
				{{>10_libre_gratuite}}
				{{>11_quoi_de_neuf}}
				{{>12_bienvenue_bootstrap}}
				{{>13_mobile_dabord}}
				{{>14_nouvelle_architecture}}
				{{>15_demo}}
				{{>16_contact}}
			</div>
		</div>
		<script src="{{assets}}/reveal.js/lib/js/head.min.js"></script>
		<script src="{{assets}}/reveal.js/js/reveal.min.js"></script>
		<script>
			Reveal.initialize();
		</script>
	</body>
</html>
